

@mixin Fontbold {
    font: bold 16px/24px Helvetica Bold;
    color:#ffffff;
    margin-bottom: 0rem;
}

@mixin Fontnormal {
    font: normal 14px/21px Helvetica Normal;
    color:#ffffff;
    opacity: 0.7;
}