@font-face {
    font-family: Helvetica Bold;
    src: url(../font/Regular/Helvetica-Bold.ttf);
}

@font-face {
    font-family: Helvetica Normal;
    src: url(../font/HelveticaNeu/Light/HelveticaNeue-Thin.ttf);
}

@import 'mixin';
$Maincolor :#333333;
$Textcolor : #ffffff;
.footer{
    background: $Maincolor;
    padding :100px 152px 62px 184px;

// footer__wrapper
    &__wrapper{
        padding-left: 0px;
        padding-right: 0px;
    }
// footer__item1
    &__item1{

        & a{
            display:block;
            & .storelogo{
                margin-top: 55px;
            }
            & .playlogo{
                margin-top: 16px;
            }
        }
        // footer__text
        &--text{
            @include Fontbold();
            margin-bottom: 40px;
        }
        & ul{
           
          padding-left: 35px;
            list-style: none;
            & li {
              
                & a{
                    @include Fontnormal();
                    &:hover{
                        text-decoration: none;
                    }
                }
                &:not(:nth-child(1)){
                    margin:14px 0px 0px 0px;
                }
            }
           
        }
    }
// footer__item2
    &__item2{
        padding-top: 24.33px;
    border-top: 1px solid $Textcolor;
    padding-bottom: 100px;

    // footer__item2--icon
    &--icons{
        & .iconlinkedin{
            margin-left: 25px ;
            margin-right: 29.17px;
        }
    }
    // footer__item2--more
    &--more{
        list-style: none;
        justify-content: space-between;
        padding-left: 27px;
        @include  Fontnormal();
        & li{
            & a{
                color:$Textcolor;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
    }
}

.copyright{
    padding:22.67px 183px 100px 183px ;
    background: #333333;
    &__text{
        color:$Textcolor;
        text-align: right;
        @include  Fontnormal();
    }
}
@media screen and (max-width:600px){
    .footer{
padding:20px;
    }
}