@font-face {
  font-family: Helvetica Bold;
  src: url(../font/Regular/Helvetica-Bold.ttf);
}

@font-face {
  font-family: Helvetica Normal;
  src: url(../font/HelveticaNeu/Light/HelveticaNeue-Thin.ttf);
}

.footer {
  background: #333333;
  padding: 100px 152px 62px 184px;
}

.footer__wrapper {
  padding-left: 0px;
  padding-right: 0px;
}

.footer__item1 a {
  display: block;
}

.footer__item1 a .storelogo {
  margin-top: 55px;
}

.footer__item1 a .playlogo {
  margin-top: 16px;
}

.footer__item1--text {
  font: bold 16px/24px Helvetica Bold;
  color: #ffffff;
  margin-bottom: 0rem;
  margin-bottom: 40px;
}

.footer__item1 ul {
  padding-left: 35px;
  list-style: none;
}

.footer__item1 ul li a {
  font: normal 14px/21px Helvetica Normal;
  color: #ffffff;
  opacity: 0.7;
}

.footer__item1 ul li a:hover {
  text-decoration: none;
}

.footer__item1 ul li:not(:nth-child(1)) {
  margin: 14px 0px 0px 0px;
}

.footer__item2 {
  padding-top: 24.33px;
  border-top: 1px solid #ffffff;
  padding-bottom: 100px;
}

.footer__item2--icons .iconlinkedin {
  margin-left: 25px;
  margin-right: 29.17px;
}

.footer__item2--more {
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 27px;
  font: normal 14px/21px Helvetica Normal;
  color: #ffffff;
  opacity: 0.7;
}

.footer__item2--more li a {
  color: #ffffff;
}

.footer__item2--more li a:hover {
  text-decoration: none;
}

.copyright {
  padding: 22.67px 183px 100px 183px;
  background: #333333;
}

.copyright__text {
  color: #ffffff;
  text-align: right;
  font: normal 14px/21px Helvetica Normal;
  color: #ffffff;
  opacity: 0.7;
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 20px;
  }
}
/*# sourceMappingURL=style.css.map */